---
import Layout from '../layout/Layout.astro'

const grid = [
  {
    name: '',
    description: ``,
    urlImage:
      'https://res.cloudinary.com/dpbhmwmwm/image/upload/v1723168054/albhaca_vxllvn.webp',
    path: '/albahaca'
  },
  {
    name: '',
    description: ``,
    urlImage:
      'https://res.cloudinary.com/dpbhmwmwm/image/upload/v1723168466/romero_red18j.webp',
    path: '/romero'
  },
  {
    name: '',
    description: '',
    urlImage:
      'https://res.cloudinary.com/dpbhmwmwm/image/upload/v1723168036/oregan_bdhww1.png',
    path: '/oregano'
  },
  {
    name: '',
    description: '',
    urlImage:
      'https://res.cloudinary.com/dpbhmwmwm/image/upload/v1723168385/lavanda_k993iq.webp',
    path: '/lavanda'
  }
]

// href={Astro.url`${info.additional}`}
---

<Layout title='Inicio'>
  <div class='flex flex-col justify-center gap-4 h-svh'>
    {
      grid.map((item) => (
        <a
          href={item.path}
          class={`${item.name} rounded-xl p-2 border-2 border-[#5bba6f] flex justify-center items-center`}>
          {item.description}
          <img
            src={item.urlImage}
            alt='image'
            class='object-contain w-40 h-40'
          />
        </a>
      ))
    }
  </div>
</Layout>
